@page "/CategoriesPage"

@using AccountingHelper.ViewModels

@inject ICategoriesPageVM vm;

<select size=@vm.Categories.Count>
    @foreach(var category in vm.Categories)
    {
        <option value=@category>@category.DisplayName</option>
    }
</select>  

<h5>Here are going to be Add/Edit functionality</h5>