@page "/"
@using AccountingHelper.Logic
@using AccountingHelper.ViewModels

@inject ILoadFilesPageVM vm

<style>
    .file-input-zone {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #884ea0;
        color: white;
        cursor: pointer;
        position: relative;
        width: 150px;
        height: 30px;
    }
    .file-input-zone:hover {
        background-color: lightblue;
    }

    .file-input-zone input[type=file] {
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: 0;
        cursor: pointer;
    }
</style>


<PageTitle>Load Data</PageTitle>
@foreach(AccountFile info in vm.LoadedFiles)
{
    <h5>File @info.Description.Name</h5>
}
<div class="file-input-zone">
    <InputFile OnChange="@vm.AddFile"/>
    Add account file
</div>

<h5>History file: @vm.HistoryFileInfo</h5>
<button @onclick=vm.CreateHistoryFile>Create new history file</button>