<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">AccountingHelper</a>
        <button title="Navigation menu" class="navbar-toggler">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span>Load Data
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="SelectionPage">
                <span class="oi oi-home" aria-hidden="true"></span>Select Range
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="CategoriesPage">
                <span class="oi oi-home" aria-hidden="true"></span>Categories
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="SortingPage">
                <span class="oi oi-home" aria-hidden="true"></span>Sort Data
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private string? NavMenuCssClass => null;
}
